*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
Makefile.config
_obuild/
config.log
config.ocp
config.status
defs/gen
defs/wxdefs.ml
elj/libwxc.so
idl/00-config.ocp
idl/wxc_idl.h
idl/wxc_idl.ml
idl/wxc_idl.mli
idl/wxc_idl_stubs.c
ocaml/00-config.ocp
ocp-build.root
ocp-build.root.old
ocp-build.root.old.old
*~
elj/libwxOCaml_elj.so
wxCamlidl/config.ml
autom4te.cache/
generators/gen
wxOCaml/00-config.ocp
wxOCaml/wxdefs.ml
idl/wxc.h
config/Makefile
api/new_sources/libwxOCaml_api.so
DEVELOPMENT
wxDefsGen/gen_wxDefs
wxDefsGen/gen_wxDefs.cpp
