

(*************************************)
(*   Never edit options files while  *)
(*       the program is running      *)
(*************************************)
(* SECTION : Header                  *)
(* These options must be read first  *)
(*************************************)



(* Minimal version of OCaml *)
ocaml_minimal_version = "3.12.1"

(* Does the project need ocamllex *)
need_ocamllex = false

(* Does the project need ocamlyacc *)
need_ocamlyacc = false

(* Packages needed by the project *)
need_packages = [
]

(* Packages that could be used by the project *)
optional_packages = [
]

(* Modules needed by the project *)
need_modules = [
]

(* Extra files to be substituted *)
extra_config_files = [
  "../wxConfig/wxOCamlConfig.h";
]

(* Extra files to be substituted *)
extra_m4_files = [
  "wxwin.m4";
]

(* Extra variables to be substituted *)
extra_config_vars = [
     "CPPFLAGS";
     "CXXFLAGS";
     "CFLAGS";
     "LIBS";
     "CXX";
     "CC";
     "WX_VERSION";
     "WXOCAML_HAS_WRAPSIZER";
     "WXOCAML_HAS_STC";
]
project = {

(* Project Copyright *)
  copyright = "Copyright 2012 OCamlPro SAS"

(* Project Version *)
  version = "1.1"

(* Project Name *)
  name = "ocplib-wxOCaml"
}
