

(*************************************)
(*   Never edit options files while  *)
(*       the program is running      *)
(*************************************)
(* SECTION : Header                  *)
(* These options must be read first  *)
(*************************************)



(* Project Name *)
project_name = "ocplib-wxOCaml"

(* Project Version *)
project_version = "1.1"

(* Project Copyright *)
project_copyright = "Copyright 2012 OCamlPro SAS"

(* Minimal version of OCaml *)
ocaml_minimal_version = "3.12.1"

(* Version of OCaml not yet supported *)
ocaml_unsupported_version = ""

(* Packages needed by the project *)
need_packages = [
]

(* Tools needed by the project *)
need_tools = [
  "ocp-build";
]

(* Packages that could be used by the project *)
optional_packages = [
]

(* Modules needed by the project *)
need_modules = [
]

(* Extra files to be substituted *)
extra_config_files = [
  "../wxConfig/wxOCamlConfig.h";
]

(* Extra m4 files to be added *)
extra_m4_files = [
  "wxwin.m4";
]

(* Extra variables to be substituted *)
extra_config_vars = [
  CPPFLAGS;
  CXXFLAGS;
  CFLAGS;
  LIBS;
  CXX;
  CC;
  WX_VERSION;
  wxHAS_INCLUDE_WRAPSIZER;
  wxHAS_INCLUDE_STC;
]

(* Extra variables to be substituted as boolean *)
extra_bool_vars = [
]

(* Does the project need ocamllex *)
need_ocamllex = false

(* Does the project need ocamlyacc *)
need_ocamlyacc = false
